node_modules
npm-debug.log
db_creation
postman
test
services
README.md
messages.log
Dockerfile
docker-compose.yml
services.tar
.git
.gitignore
/prod/node/.env
/prod/database/data
/prod/authentication/data
/prod/storage/files
